@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start menu */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-color: #091a22;
}

/* start menu */
header {
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    margin-top: 10px;
    position: absolute;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

header .logo p {
    margin-left: 8px;
    color: #fff;
    font-family: 'Lilita One', sans-serif;
}

header nav {
    width: 100%;
    padding-top: 12px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Lilita One', sans-serif;
}

header nav ul li a:hover{
    background-color: #0b7aad;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {

    header .logo {
        display: none;
    }

    header nav ul {
        background-color: #091a22;
        /* background: linear-gradient(90deg, rgba(46,46,47,1) 0%, rgba(31,31,33,1) 35%, rgba(0,0,0,1) 100%); */
        height: 100vh;
    }

    .header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    .header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    .header nav.active {
        left: 0;
    }

    .header nav ul {
        display: block;
        text-align: center;
    }

    .header ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}
/* end menu */

/*start configs icons*/
/* icons menu */
.header nav ul li a .icons-menu { 
    margin-right: 5px;
    color: #fff;
}

.header .profile .contact p .icon-locale {
    margin-right: 3px;
    color: #149DDD;
}

/* media */
@media (max-width: 768px) {
    .header .profile .contact p {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header .profile .contact p span {
        margin: 3px;
    }
}
/*start configs icons*/

/* start section.top */
section.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.top h4 {
    background: #149DDD;
    border-radius: 5px;
    padding: 10px 50px 10px 50px;
    text-transform: capitalize;
    font-family: 'Tektur', cursive;
    /* -webkit-text-stroke: 1px rgb(19, 18, 18); */
    -webkit-text-fill-color: #091a22;
}

section.top h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Tektur', cursive;
    -webkit-text-fill-color: #149DDD;
    text-transform: uppercase;
}

section.top h3 {
    font-size: 22px;
    font-family: 'Tektur', cursive;
    -webkit-text-fill-color: #149DDD;
}

section.top .all-images-profile {
    display: flex;
}

section.top .all-images-profile .img {
    margin: 5px 10px 0 10px;
    background-color: #333131;
    padding: 10px;
    border-radius: 50px;
}

section.top .all-images-profile .image-profile {
    color: #075d85;
    font-size: 40px;
}

section.top .all-images-profile .image-profile:hover {
    color: #fff;
}

section.top img {
    border-radius: 50px;
 }

 /* start media */
@media (max-width: 991px) {
    section.top {
        text-align: center;
    }

    section.top h1 {
        font-size: 40px;
    }
}

/* end media */

/* end section.top */

selection.tecnologies {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

/* start section.tecnologies */
section.tecnologies .title .text-title h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 100px;
    font-family: 'Tektur', cursive;
    -webkit-text-stroke: 1px #149DDD;
    -webkit-text-fill-color: #0d1113;
    text-align: center;
}

/* start progress bar php */
section.tecnologies .progress-bar {
    width: 50%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    color: #149DDD;
    font-size: 16px;
    font-family: 'Tektur', cursive;
}

section.tecnologies .progress-bar .percent {
    display: flex;
    width: 100%;
}

section.tecnologies .progress-bar .percent small {
    color: #149DDD;
    font-size: 12px;
}

section.tecnologies .progress-bar .percent .tec-percent {
    width: 100%;
    text-align: right;
}

/* php */
section.tecnologies .progress-bar-php {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-php::before {
    content: "";
    width: 98%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* laravel */
section.tecnologies .progress-bar-laravel {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-laravel::before {
    content: "";
    width: 80%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* Java */
section.tecnologies .progress-bar-java {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-java::before {
    content: "";
    width: 50%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* Javascript */
section.tecnologies .progress-bar-javascript {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-javascript::before {
    content: "";
    width: 75%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* vue */
section.tecnologies .progress-bar-vue {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-vue::before {
    content: "";
    width: 90%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* angular */
section.tecnologies .progress-bar-angular {
    border-radius: 30px;
    margin: 10px 0 10px 0;
    height: 10px;
    padding: 2px;
    background-color: #ffffff;
    display: flex;
}

section.tecnologies .progress-bar-angular::before {
    content: "";
    width: 78%;
    background-color: #149DDD;
    border-radius: 30px;
}

/* end progress bar php */

section.tecnologies .all-tec {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


section.tecnologies .all-tec .sub-tec {
    display: flex;
    flex-direction: row;
    width: 100%;
}

section.tecnologies .all-tec .sub-tec div {
    text-align: center;
    /* border: 1px solid #fff; */
    width: 100%;
    padding: 70px;
    font-size: 25px;
}
section.tecnologies .all-tec .sub-tec div p {
    font-family: 'Tektur', cursive;
    color: #151a1d;
}

section.tecnologies .all-tec .sub-tec div:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition: .5s;
}

/* start media */
@media (max-width: 991px) {
    section.tecnologies .title .text-title h1 {
        font-size: 40px;
    }

    section.tecnologies .all-tec .sub-tec {
        flex-direction: column;
    }
}

/* end media */

/* end section.tecnologies */